{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/post.style.css') }}" />
{% endblock %}

{% block body %}

    <div class="container">
        <a href="{{ path('home') }}">< Back to Posts</a>
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-description">{{ post.description }}</p>
    </div>
{% endblock %}